#pagination-container {
    text-align: center;
  }
  
  #pagination {
    display: inline-block;
    padding: 0;
    margin: 0;
  }

  #pagination > *{
    margin-left: 0.3rem;
  }
  
  
  #pagination button {
    padding: 5px 10px;
    background-color: #fff;
    color: #4F4F4F;
    border-radius: 50%;
    border: none;
    cursor: pointer;
  }
  
  #pagination button.active{
    background-color: #2f80ed;
    color:white;
  }

  #pagination button.active:disabled{
    background-color: #2f80ed;
    color:white;
  }

  #pagination button:disabled{
    background-color: white;
    color: #cfcfcf;
    cursor: default;
  }

  