#pagination-container {
    text-align: center;
  }
  
  #pagination {
    display: inline-block;
    padding: 0;
    margin: 0;
  }

  #pagination > *{
    margin-left: 0.3rem;
  }
  
  
  #pagination button {
    padding: 5px 10px;
    background-color: #2F80ED;
    color: #fff;
    border-radius: 50%;
    border: none;
  }
  
  #pagination button:not(:disabled){
    background-color: #fff;
    color: #4F4F4F;
  }
  