@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@400;500;600;700&display=swap");

:root {
  --primary-color: #2f80ed;
  --background-color: #e9e9e9;
  --text-primary: #4f4f4f;
}

*,
h1,
h2,
h3,
p {
  margin: 0;
}
body {
  width: 100%;
  background-color: var(--background-color);
}

h1 {
  margin-top: 50px;
  font-family: "Bebas Neue";
  font-style: normal;
  font-weight: 400;
  font-size: 64px;
  line-height: 77px;
  text-align: center;
}

.tab_section {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 50px 0;
}

.tab {
  width: 90%;
  /* min-height: 60vh; */
  height: fit-content;
  background-color: #fff;
  border-radius: 15px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}


.tab_body {
  border-top: 1px solid var(--background-color);
}

.tab_body_footer{
  display: flex;
  justify-content: space-between;
  padding: 1rem 5rem;
  padding-right: 2.5rem;
}

@media (max-width: 600px){
  .tab_body_footer{
    padding: 1rem 1rem;
  }
}
.tab_headings div h3 {
  font-family: "Manrope";
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 19px;
  cursor: pointer;
  position: relative;
  height: fit-content;
  display: flex;
  align-items: center;
  gap: 6PX;
}

/* .tab_headings h3::after {
  content: "";
  position: absolute;
  bottom: -10px;
  left: 0;
  width: 0%;
  height: 2px;
  background-color: var(--primary-color);
  transition: width 0.3s ease-in-out;
} */

.tab_heading {
  transition: 0.3s;
}

.tab_headings h3.active::after {
  width: 100%;
}

.not_active_tab{
  color:#B5B8C5;
}
.active_tab {
  color:var(--primary-color);
}

.shopping_cart_data {
  width: 100%;
  display: flex;
  animation-name: fade;
  animation-duration: 0.3s;
  animation-fill-mode: forwards;
}

@media (max-width: 600px){
  .shopping_cart_data {
    flex-direction: column;
  }
}

.tickets_section {
  flex: 0.7;
  position: relative;
}
.cards {
  width: 100%;
  /* height: 280px; */
  /* display: flex; */
  /* justify-content: center; */
  overflow-y: scroll;
}
.cards::-webkit-scrollbar {
  display: none;
}
.order_summery {
  flex: 0.3;
  background-color: #f2f2f2;
  /* height: calc(60vh - 59px); */
  border-bottom-right-radius: 15px;
}

.ticket_card {
  width: 100%;
  height: 70px;
  border-bottom: 1px solid var(--background-color);
  display: flex;
  justify-content: space-around;
  /* align-items: center; */
  z-index: 1;
}

.counter_button {
  width: 113px;
  height: 44px;
  display: flex;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 8px;
  align-items: center;
  justify-content: space-evenly;
}

.ticket_text {
  color: var(--text-primary);
  font-family: "Manrope";
  font-style: normal;
  line-height: 150%;
}
.ticket_name {
  font-weight: 600;
  font-size: 12px;
}
.ticket_price {
  font-weight: 800;
  font-size: 14px;
}
.ticket_currency {
  font-weight: 500;
  font-size: 12px;
  text-transform: uppercase;
}
.counter {
  color: #1d1e26;
}
.counter_button_plus,
.counter_button_minus {
  font-size: 30px;
}
.btn {
  cursor: pointer;
}

/*  */
.promo_section {
  position: absolute;
  bottom: 12%;
  left: 6%;
  z-index: 2;
  background-color: #fff;
}
.promo_input_container {
  position: relative;
  display: inline-block;
}
.input_box {
  border: none;
}
.input_box:focus {
  outline: none;
}

.promo_input {
  border: 1px solid #ccc;
  padding: 10px;
  width: 250px;
  box-shadow: 0px 4px 14px rgba(118, 118, 136, 0.1);
  border-radius: 8px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  display: flex;
  justify-content: space-between;
}
.input_box::placeholder {
  font-family: "Manrope";
  font-style: normal;
  font-weight: 400;
  font-size: 10px;
  line-height: 18px;
  letter-spacing: -0.01em;
  color: #bdbdbd;
}

.promo_label {
  position: absolute;
  top: -10px;
  left: 10px;
  background-color: #fff;
  padding: 0 3px;
  font-family: "Manrope";
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 18px;
  letter-spacing: -0.01em;
  color: #4f4f4f;
}

.promo_apply_button {
  border: none;
  background-color: #fff;
  font-family: "Manrope";
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 18px;
  letter-spacing: -0.01em;
  color: var(--primary-color);
  cursor: pointer;
}

.promo_error {
  font-family: "Manrope";
  font-style: normal;
  font-weight: 400;
  font-size: 10px;
  line-height: 24px;
  color: #e53535;
}
.promo_err_icon {
  background-color: #ffebeb;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  /* display: flex;
  justify-content: center;
  align-items: center; */
}

/* summery section */
.order_summery {
  padding: 0 20px;
  position: relative;
  overflow: auto;
}
.summery_heading {
  padding-top: 20px;
  color: var(--text-primary);
  font-family: "Manrope";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 28px;
}
/* .summery_data {
 height: 300px; 
}
.summery_cards {
} */
.summery_cards::-webkit-scrollbar {
  display: none;
}
.summery_card {
  height: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 2px solid var(--background-color);
}
.summery_card_name {
  flex: 0.6;
  height: fit-content;
  display: flex;
  align-items: center;
}
.summery_card_name {
  font-family: "Manrope";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 28px;
  color: var(--text-primary);
  display: flex;
  gap: 10px;
}
.summery_card_count {
  font-family: "Manrope";
  font-style: normal;
  font-weight: 700;
  letter-spacing: 1.5px;
}
.summery_card_data {
  font-family: "Manrope";
  font-style: normal;
  font-weight: 400;
  font-size: 10px;
  line-height: 150%;
  color: var(--text-primary);
}
.summery_text_total {
  font-size: 16px;
}
.summary_total {
  display: flex;
  height: 35px;
  align-items: center;
  justify-content: space-between;
  margin: 5px 0;
}
.summery_text_amount {
  font-size: 16px;
  color: #219653;
}
.summery_button {
  /* position: absolute;
  bottom: 30px;
  right: 20px;  */
  float: inline-end;
  margin: 1rem 0;
  width: 156px; 
  height: 40px;
  background-color: var(--primary-color);
  border: none;
  border-radius: 44px;
  font-family: "Manrope";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 28px;
  color: #ffffff;
  cursor: pointer;
}

/* table */
.table {
  width: 100%;
  border-collapse: collapse;
  position: relative;
  animation-name: fade;
  animation-duration: 0.3s;
  animation-fill-mode: forwards;
}
.table_head {
  background-color: var(--primary-color);
  height: 50px;
  color: #fff;
  font-family: "Manrope";
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 19px;
  letter-spacing: 0.2px;
}
.tbody tr {
  height: 50px;
  border-bottom: 1px solid #dfe0eb;
}
.tbody tr td:first-child {
  width: 20%;
}

.tbody tr td:nth-child(2) {
  width: 10%;
}

.tbody tr td:nth-child(3) {
  width: 30%;
}

.tbody tr td:nth-child(4) {
  width: 10%;
}

.tbody tr td:nth-child(5) {
  width: 10%;
}

.tbody tr td:nth-child(6) {
  width: 10%;
}

.tbody tr td:last-child {
  width: 10%;
}
.tbody tr td {
  font-family: "Manrope";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 150%;
  text-align: center;
}

.table_select_option {
  font-family: "Manrope";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 18px;
  letter-spacing: -0.01em;
  color: #8b8a8f;
}
.select_section {
  background: #ffffff;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  border-radius: 4px;
  border: none;
  padding: 5px 8px;
  margin-left: 5px;
}

.cart_table {
  padding: 0;
}

.cart_table  .ticket_details{
  display: flex;
  align-items: center;
  gap: 3rem;
}
.cart_table li {
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid var(--background-color);
  padding: 0 3rem;
}

@media (max-width: 600px){
  .promo_section{
    left: 50%;
    transform: translateX(-50%);
    bottom: 9%;

  }

.cart_table  .ticket_details{
  gap: 0.5rem;
}
  .cart_table li {
    padding: 0 1rem;
  }
}
/* .cart_table tr td:nth-child(1) {
  width: 40%;
  display: flex;
  margin-left: 8%;
}
.cart_table tr td:nth-child(2) {
  width: 30%;
  display: flex;
  justify-content: center;
}
.cart_table tr td:nth-child(3) {
  width: 30%;
  display: flex;
  justify-content: center;
} */

/* animations */
@keyframes fade {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes expandWidth {
  0% {
    width: 0%;
  }
  100% {
    width: 100%;
  }
}
